<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>

		<!-- Dynamics CRM 2015 -->
		<add key="CrmUrl" value="http://wms2015-dev.dev-sharepoint.local/WMSDEV2015/main.aspx" />
		<add key="CrmDomain" value="DEV-SHAREPOINT" />
		<add key="CrmUsername" value="stocalo_erni" />
		<add key="CrmPassword" value="VFR$3edcXSW@" />
		
		<!-- SharePoint 2013 -->
		<add key="SharePointSiteUrl" value="http://sharepointserver"/>
		<add key="SharePointLibrary" value="CRMLogs"/>
		<add key="SharePointDomain" value="DEV"/>
		<add key="SharePointUsername" value="spuser"/>
		<add key="SharePointPassword" value="password"/>

		<!-- Service Configuration -->
		<add key="ExportFolder" value="C:\CRMLogs"/>
		<add key="LogFolder" value="C:\CRMLogs\Logs"/>
		<add key="PollingIntervalMinutes" value="15"/>

	</appSettings>
	
</configuration>